* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

header {
    height: 20vh;
    width: 100vw;
    background-color: #8277DB;
    display: flex;
    align-items: center;
    justify-content: center;

}

main {
    display: flex;
    flex-direction: row;
    width: 100%;

}

div#header_cartelas {
    width: 100vw;
    height: 15vh;
    background-color: #899BEB;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

div#body_cartelas{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 5px;

}

table, th,td{
    border: 1px solid black;
    border-collapse: collapse;
}

th,td{
    width: 30px;
    height: 30px;
    text-align: center;

}
div.cartelas h4{
    margin-bottom: 5px;
}
div.cartelas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
button {
    width: 100px;
    height: 30px;
    background-color: #B07FE6;
    color: aliceblue;
    font-weight: bold;
    border-radius: 25px;

}


section#areas_cartelas {
    width: 100vw;
    height: 75vh;
    background-color: #93BBEB;
}




footer {
    position: fixed;
    bottom: 0px;
    height: 5vh;
    background-color: #8277DB;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}